<div class="container">
    <div class="my-onlineshopfixed">
        <h3>Online Shopping</h3>
        <i class="material-icons">add_shopping_cart</i>
        <span>{{totalproductsincart}}</span>
    </div>
    <div class="my-shoppincart">
        <h2>Shopping Cart</h2>
        <h5>You have {{totalproductsincart}} items</h5>
        <table>
            <tr *ngFor="let product of productsinCart;let i=index">
                <td>{{product.productName}}</td>
                <td>
                    <div (click)="decrementQuantity(e,product)"><span>-</span></div>
                    <div><span  #e>{{product.productQuantity}}</span></div>
                    <div (click)="incrementQuantity(e,product)"><span >+</span></div>
                </td>
                <td (click)="deleteProduct(product)">X</td>
                <td>{{product.productAmount}}</td>
            </tr>
        </table>
    </div>
    <div class="my-total">
            <h5>Sub total:${{subTotal}}</h5>
            <h5>Tax(19%):${{tax}}</h5>
            <h5>Total:${{total}}</h5>
    </div>
    <div class="my-paynow">
        <button>Pay Now</button>
    </div>
    <div class="my-footer">
        <p>Disclaimer:This is just a clickable Prototype</p>
        <p>© Vishu Handa</p>
    </div>
</div>
